@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Outfit:wght@500&family=Source+Serif+Pro:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family:'Outfit', sans-serif;
}

/* navbar starts */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: #fff;
    border-bottom: 2px solid #E2E8F0;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    opacity: 0.75;
    display: inline-block;
    position: relative;
}

.nav-link:hover{
    opacity: 1;
    border-bottom: 3px solid black;
}

.nav-link::before{
    transition: 300ms;
    height: 3.5px;
    content: "";
    position: absolute;
    background-color: #031d44;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: black;
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* navbar ends */

/* socials starts */

.about-wrapper{
    width: 100%;
	min-height: 100vh;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fbrowsecat.net%2Faestetic%2Faesthetic-movement-wallpapers&psig=AOvVaw2LEYmDOktiw8TIyV0EHrbR&ust=1651557136852000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJCzpPiPwPcCFQAAAAAdAAAAABAJ');
    
}

.about-wrapper .section{
	

}
.about-wrapper .container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.about-wrapper .content-section{
	float: left;
	width:75%;
}
.about-wrapper .image-section{
	float: right;
	width: 35%;
}
.about-wrapper .image-section img{
	width: 75%;
	height: auto;
}
.about-wrapper .content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}

.type {
    width: 14ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
.about-wrapper .content-section .content h3{
	margin-top: 20px;
	color:#383838;
	font-size: 21px;
}
.about-wrapper .content-section .content p{
	margin-top: 10px;
	font-size: 18px;
	line-height: 1.5;
}
.about-wrapper .content-section .content .button{
	margin-top: 30px;
}
.about-wrapper .content-section .content .button a{
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 15px;
 
}
/**
.about-wrapper .content-section .content .button a:hover{
	background-color: black;
	color:#fff;
}**/
.about-wrapper .content-section .social{
	margin: 40px 40px;
}
.about-wrapper .content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding: 0px 10px;
}
.about-wrapper .content-section .social i:hover{
	color:#3d3d3d;
}

@media screen and (max-width: 860px){
	.about-wrapper .container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.about-wrapper .content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.about-wrapper .image-section{
	float:none;
	width:100%;
	
}
.about-wrapper .image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.about-wrapper .content-section .title{
	text-align: center;
	font-size: 20px;
}
.about-wrapper .content-section .content .button{
	text-align: left;
}
.about-wrapper.content-section .content .button a{
	padding:9px 30px;
}
.about-wrapper .content-section .social{
	text-align: center;
}

}


/* socials ends */

/* skills start */

.skills-wrapper {
    text-align: center;
    min-height: 100vh;
}

.skills-wrapper h1{
    font-size: 50px;
    margin-top: 30px;
}

.skill-item {
    display: inline-block;
    width: 240px;
    text-align: center;
    margin: 30px;
  }
  
.skill-item  .img-container {
    height: 180px;
    width: 150px;
    overflow: hidden;
    border-radius: 0px;
    display: inline-block;
}
  
.skill-item .img-container img {
    width: 150px;
    height: auto;
}
  
.skill-item .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
}
  
.skill-item .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: BLACK;
    font-size: 18px;
}

/* skills section ends */

/* experience starts */

.experience-wrapper{
    background: linear-gradient(40deg, #b57f8f,#8f7990, #5f85a9, #577b9d);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    min-height: 100vh;
}


.experience {
    margin: 30px;
    
}

.exp-title {
    font-size: 50px;
}

.experience-wrapper .role {
    font-size: 30px;
    margin-bottom: 0.5em;
}
.experience-wrapper p {
    font-size: 30px;
}
.experienece-wrapper .container {
    max-width: 1024px;
    width: 90%;
    margin: 50px;
}
.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, .7);
    border-left: 2px solid rgba(0, 0, 0, .3);
}

.timeline-item p {
    font-size: 15px;
}
.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.785rem;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, .3);
    background: white;
}
.timeline-item:last-child {
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}
/* experience section ends */

/* projects start */

.projects-wrapper {
    margin: 20px;
    min-height: 100vh;
}

.project-title {
    font-size: 50px;
    text-align: center;
}

.projects {
    text-align: center;
    margin: 10px;
}

.projects a {
    margin: 15px;
    display: inline-block;
}

.projects a img {
    border: 3px solid lightgray;
    border-radius: 15px;
    width: 300px;
}
/* projects ends */

/* socials start */

.socials-wrapper {
    min-height: 60vh;
}

.socials-wrapper h1 {
    font-size: 60px;
}

.socials-wrapper .container {    
    text-align: center;
}

.socials-wrapper .container h1 span:before, .container h1 span:after {
    content: "";
    display: block;
    width: 34px;
    height: 2px;
    margin: 0px 0px 0px 2px;
}
.effect {
    width: 100%;
}

.effect h2 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 3px;
}
.effect:nth-child(2) {

}


.effect .buttons {
    display: flex;
    
    justify-content: center;
}
.effect a:last-child {
    margin-right: 0px;
}


.effect a {
    text-decoration: none !important;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
}
.effect a i {
    position: relative;
    z-index: 3;
}

.effect a.fb {
    background-color: #3b5998;
}
.effect a.tw {
    background-color: #00aced;
}
.effect a.g-plus {
    background-color: #dd4b39;
}
.effect a.dribbble {
    background-color: #ea4c89;
}
.effect a.git {
    background-color: black;
}
.effect a.insta {
    background-color: #bc2a8d;
}
.effect a.in {
    background-color: #007bb6;
}
.effect a.vimeo {
    background-color: #1ab7ea;
}

/* egeon effect */
.effect.egeon a {
    transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;
}
.effect.egeon a i {
    transition: transform 0.2s linear 0s;
}
.effect.egeon a:hover {
    transform: rotate(-90deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.effect.egeon a:hover i {
    transform: rotate(90deg);
}
/* socials section ends */